input {
    keyboard {
        xkb {
            layout "us,br"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
        middle-emulation
        scroll-method "edge"
    }

    disable-power-key-handling
}

output "DP-3" {
    mode "3440x1440"
}

layout {
    gaps 6
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        width 2
        active-color "#fb958b"
        inactive-color "#313244"
        urgent-color "#f38ba8"
    }

    background-color "#1e1e2e"
}

prefer-no-csd

workspace "main"
workspace "music"

window-rule {
    match app-id="^ncmpcpp$"
    match app-id="(?i)^spotify$"
    open-on-workspace "music"
}

spawn-at-startup "kitty" "--class" "ncmpcpp" "ncmpcpp"
spawn-sh-at-startup "~/.config/battery-alert/battery-alert"

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn "kitty"; }
    Mod+D { spawn-sh "bash ~/.config/rofi/launchers/type-7/launcher.sh"; }
    Mod+M { spawn-sh "bash ~/.config/rofi/applets/bin/mpd.sh"; }
    XF86PowerOff { spawn-sh "bash ~/.config/rofi/powermenu/type-6/powermenu.sh"; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }
    Mod+O { toggle-overview; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Page_Down       { focus-workspace-down; }
    Mod+Page_Up         { focus-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+W { toggle-column-tabbed-display; }

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { reset-window-height; }
    Mod+Minus       { set-column-width "-10%"; }
    Mod+Equal       { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+C       { center-column; }
    Mod+F       { fullscreen-window; }
    Mod+Shift+F { maximize-column; }

    Mod+Shift+Space { toggle-window-floating; }
    Mod+Space       { switch-focus-between-floating-and-tiling; }

    Mod+Shift+S { screenshot; }
    Print       { screenshot; }

    Alt+K { switch-layout "next"; }

    F2 { spawn "brightnessctl" "set" "5%-"; }
    F3 { spawn "brightnessctl" "set" "+5%"; }
}
